.p-realtive {
  position: relative;
}

.sub-heading {
  color: #173b6c;
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 1px;
  border-bottom: 3px solid #149ddd;
  margin-left: 15px;
}
.section-text {
  font-size: 20px;
  margin: 20px 30px;
}
